{% extends 'base.html.twig' %}

{% block title %}Destination
{% endblock %}

{% block body %}
	<h1>Destination</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Country</th>
				<td>{{ destination.country }}</td>
			</tr>
			<tr>
				<th>City</th>
				<td>{{ destination.city }}</td>
			</tr>
			<tr>
				<th>Trips associated</th>
				<td>
					{% if destination.trips is not empty %}
						<ul>
							{% for trip in destination.trips %}
								<li>
									<a class=" fs-4 text-decoration-none" href="{{ path('app_trip_show', {id: trip.id}) }}">{{ trip.name }}</a>
								</li>
							{% endfor %}
						</ul>
					{% else %}

						<p class="fs-5 text-info">No trips associated with this destination !</p>

					{% endif %}
				</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>
					<img class="img-fluid rounded mx-auto d-block max-width-height" src="{{ destination.image }}" border="0">
				</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-secondary" href="{{ path('app_destination_index') }}">Back to list</a>
{% endblock %}
