{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block body %}
	<h1>All Categories
	</h1>
{% for message in app.flashes('successC') %}
		<div class="bg-success my-3">
			<h4>{{ message | join('. <br>') }}</h4>
		</div>
	{% endfor %}
{% for message in app.flashes('errorC') %}
		<div class="bg-danger my-3">
			<h4>{{ message | join('. <br>') }}</h4>
		</div>
	{% endfor %}
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.name }}</td>
					<td>{{ category.description }}</td>
					<td class="d-flex  align-items-center gap-3">
						<a class="btn btn-info"  href="{{ path('app_category_show', {'id': category.id}) }}">show</a>
						<a class="btn btn-warning" href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
						{{ include('category/_delete_form.html.twig') }}


					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no category found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-primary" href="{{ path('app_category_new') }}">Create new</a>
{% endblock %}
