{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<h1>All Contacts
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Email</th>
				<th>Message</th>
				<th>Status</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% set contactCount = 0 %}

			{% for contact in contacts %}
				{% set contactCount = contactCount + 1 %}

				<tr>
					<td>{{ contact.firstName }}</td>
					<td>{{ contact.lastName }}</td>
					<td>{{ contact.email }}</td>
					<td>{{ contact.message }}</td>
					<td>{{ contact.status.name }}</td>
					<td class="d-flex  align-items-center gap-3">

						<a class="btn btn-warning" href="{{ path('app_contact_edit', {'id': contact.id}) }}">Change status</a>
						{{ include('contact/_delete_form.html.twig') }}

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no contact request found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<h5 class="my-3">Total contacts requests:
		{{ contactCount }}</h5>

	<a class="btn btn-warning" href="/reply_to_contact_request/new">Reply to contact request</a>

{% endblock %}
