{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<h1>All Contacts </h1>

	<table class="table">
		<thead>
			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Email</th>
				<th>Message</th>
				<th>Status</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for contact in contacts %}
				<tr>
					<td>{{ contact.firstName }}</td>
					<td>{{ contact.lastName }}</td>
					<td>{{ contact.email }}</td>
					<td>{{ contact.message }}</td>
					<td>{{ contact.status.name }}</td>
					<td class="d-flex  align-items-center gap-3">

						<a class="btn btn-info" href="{{ path('app_contact_show', {'id': contact.id}) }}">show</a>
						<a class="btn btn-warning" href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>
						{{ include('contact/_delete_form.html.twig') }}

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-primary" href="{{ path('app_contact_new') }}">Create new</a>
	<a class="btn btn-warning" href="/reply_to_conatct_request/new">Reply to contact request</a>

{% endblock %}
