{% extends 'base.html.twig' %}

{% block title %}
	{{ trip.name }}
{% endblock %}


{% block body %}


	<h1>{{ trip.name }}
		information</h1>

	<table class="table">
		<tbody>

			<tr>
				<th>Name</th>
				<td>{{ trip.name }}</td>
			</tr>
			<tr>
				<th>Departure</th>
				<td>{{ trip.departure ? trip.departure|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>ComingBack</th>
				<td>{{ trip.comingBack ? trip.comingBack|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ trip.description }}</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>{{ trip.price }}
					€</td>
			</tr>
			<tr>
				<th>Category</th>
				<td>
					{% for category in trip.category %}
						<a href=" {{ path('app_category_show', {id: category.id}) }} ">{{ category.name }}</a>
					{% endfor %}
				</td>
			</tr>

			<tr>
				<th>Destination</th>
				<td>{{ trip.Destination.country ~ " / " ~ trip.destination.city}}</td>
			</tr>
		</tbody>
	</td>
</tr></tbody></table><a class="btn btn-secondary" href="{{ path('app_trip_index') }}">back to list</a>{% endblock %}
