{% extends 'base.html.twig' %}

{% block title %}Users
{% endblock %}

{% block body %}

	<h1>My account</h1>

	{% for message in app.flashes('successUser') %}
		<div class="bg-success my-3">
			<h4>{{ message | join('. <br>') }}</h4>
		</div>
	{% endfor %}
	{% for message in app.flashes('errorUser') %}
		<div class="bg-danger my-3">
			<h4>{{ message | join('. <br>') }}</h4>
		</div>
	{% endfor %}

	<table class="table">
		<thead>
			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Telephone</th>
				<th>Email</th>
				<th>Role</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ app.user.firstName }}</td>
				<td>{{ app.user.lastName }}</td>
				<td>{{ app.user.telephone }}</td>
				<td>{{ app.user.email }}</td>
				<td>{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
				<td>
					<a class="btn btn-warning" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Edit</a>
					{# {% include 'user/_delete_form.html.twig' %} #}

				</td>
			</tr>
		</tbody>
	</table>

	<h1>All users</h1>

	{% for message in app.flashes('successUser') %}
		<div class="bg-success my-3">
			<h4>{{ message | join('. <br>') }}</h4>
		</div>
	{% endfor %}
	{% for message in app.flashes('errorUser') %}
		<div class="bg-danger my-3">
			<h4>{{ message | join('. <br>') }}</h4>
		</div>
	{% endfor %}

	<table class="table">
		<thead>
			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Telephone</th>
				<th>Email</th>
				<th>Role</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% set userCount = 0 %}
			{% for user in users %}
				{% set userCount = userCount + 1 %}

				<tr>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>{{ user.telephone }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td
						class="d-flex align-items-center gap-3">
						<a class="btn btn-info" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
						<a class="btn btn-warning" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
						{% include 'user/_delete_form.html.twig' %}
					
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no User found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

<h5 class="my-3">Total users:
		{{ userCount }}</h5>
	<a class="btn btn-primary" href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
